{
  "openapi": "3.0.1",
  "info": {
    "title": "Bizwachat",
    "description": "API Documentation",
    "version": "1.0.0",
    "termsOfService": "https://bizwachat.com/terms",
    "contact": {
      "email": "hello@bizcrmapp.com"
    },
    "license": {
      "name": "MIT License",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://bizwachat.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/check-api-key": {
      "get": {
        "summary": "Check API Key",
        "description": "Validate your api key",
        "operationId": "get-check-api-key",
        "tags": [
          "Channel"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "summary": "Check API Key with Post Method",
        "description": "Validate your api key",
        "operationId": "post-check-api-key",
        "tags": [
          "Channel"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/login": {
      "post": {
        "summary": "Login User",
        "description": "Authenticate user and return access token.",
        "operationId": "post-login",
        "tags": [
          "Channel"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                  "required": ["email", "password"],
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "User's email address."
                  },
                  "password": {
                    "type": "string",
                    "description": "User's password."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/send": {
      "post": {
        "summary": "Send Text Message",
        "description": "Send a text message to a specified phone number.",
        "operationId": "send-text-message",
        "tags": [
          "Message"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                  "required": ["phone", "message", "header", "footer", "buttons"],
                "properties": {
                  "phone": {
                    "type": "string",
                    "description": "Recipient's phone number."
                  },
                  "message": {
                    "type": "string",
                    "description": "Message text to send."
                  },
                  "header": {
                    "type": "string",
                    "description": "Message header."
                  },
                  "footer": {
                    "type": "string",
                    "description": "Message footer."
                  },
                  "buttons": {
                    "type": "array",
                    "description": "List of message buttons.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Button ID."
                        },
                        "title": {
                          "type": "string",
                          "description": "Button title."
                        }
                      },
                      "required": ["id", "title"]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "data": {
                    "status": "sent"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/send/template": {
      "post": {
        "summary": "Send Template Message",
        "description": "Send a template message to a specified phone number.",
        "operationId": "send-template-message",
        "tags": [
          "Message"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                  "required": ["phone", "template[name]", "template[language][code]", "template[components]"],
                "properties": {
                  "phone": {
                    "type": "string",
                    "description": "Recipient's phone number."
                  },
                  "template[name]": {
                    "type": "string",
                    "description": "Template name."
                  },
                  "template[language][code]": {
                    "type": "string",
                    "description": "Template language code."
                  },
                  "template[components]": {
                    "type": "string",
                    "description": "Template components."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "data": {
                    "status": "sent"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/send/media": {
      "post": {
        "summary": "Send Media Message",
        "description": "Send a media message to a specified phone number.",
        "operationId": "send-media-message",
        "tags": [
          "Message"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                  "required": ["phone", "media_type", "media_url", "caption", "file_name"],
                "properties": {
                  "phone": {
                    "type": "string",
                    "description": "Recipient's phone number."
                  },
                  "media_type": {
                    "type": "string",
                    "description": "Type of media."
                  },
                  "media_url": {
                    "type": "string",
                    "description": "URL of the media file."
                  },
                  "caption": {
                    "type": "string",
                    "description": "Caption for the media."
                  },
                  "file_name": {
                    "type": "string",
                    "description": "Name of the media file."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "data": {
                    "status": "sent"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/upload/media": {
      "post": {
        "summary": "Upload Media File",
        "description": "Upload a media file to the server.",
        "operationId": "upload-media-file",
        "tags": [
          "Channel"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                  "required": ["file", "organization"],
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "File to upload."
                  },
                  "organization": {
                    "type": "string",
                    "description": "Organization identifier."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "message": "File uploaded successfully.",
                  "media_url": "https://example.com/media.jpg",
                  "location": "amazon"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/campaigns": {
      "post": {
        "summary": "Send Campaign",
        "description": "Send a campaign message to a specified audience.",
        "operationId": "send-campaign",
        "tags": [
          "Message"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                  "required": ["name"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Campaign name."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "id": "campaign-uuid-123",
                  "message": "Request processed successfully"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/contacts/{uuid}": {
      "get": {
        "summary": "Get Contact by UUID",
        "description": "Retrieve a contact's details using their unique identifier.",
        "operationId": "get-contact-by-uuid",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "data": {
                    "uuid": "123e4567-e89b-12d3-a456-426614174000",
                    "first_name": "John",
                    "phone": "+1234567890"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "summary": "Update Contact by UUID",
        "description": "Update a contact's details using their unique identifier.",
        "operationId": "update-contact-by-uuid",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "Contact's first name."
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Contact's last name."
                  },
                  "email": {
                    "type": "string",
                    "description": "Contact's email address."
                  },
                  "phone": {
                    "type": "string",
                    "description": "Contact's phone number."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "id": "contact-uuid-123",
                  "message": "Request processed successfully"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Delete Contact by UUID",
        "description": "Remove a contact from the system using their unique identifier.",
        "operationId": "delete-contact-by-uuid",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "id": "contact-uuid-123",
                  "message": "Request processed successfully"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/contacts": {
      "get": {
        "summary": "Get Contacts",
        "description": "Retrieve a list of all contacts.",
        "operationId": "get-contacts",
        "tags": [
          "Contact"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "data": [
                    {
                      "uuid": "123e4567-e89b-12d3-a456-426614174000",
                      "first_name": "John"
                    }
                  ],
                  "meta": {
                    "current_page": 1,
                    "per_page": 10
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "summary": "Store Contact",
        "description": "Create a new contact in the system.",
        "operationId": "store-contact",
        "tags": [
          "Contact"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "Contact's first name."
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Contact's last name."
                  },
                  "email": {
                    "type": "string",
                    "description": "Contact's email address."
                  },
                  "phone": {
                    "type": "string",
                    "description": "Contact's phone number."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "id": "contact-uuid-123",
                  "message": "Request processed successfully"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/contacts/{uuid}/notes": {
      "get": {
        "summary": "Get Notes for Contact by UUID",
        "description": "Retrieve all notes associated with a specific contact.",
        "operationId": "get-notes-for-contact-by-uuid",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/contacts/notes": {
      "post": {
        "summary": "Add Note to Contact",
        "description": "Attach a note to a specific contact.",
        "operationId": "add-note-to-contact",
        "tags": [
          "Contact"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "contact": {
                    "type": "string",
                    "description": "Contact identifier."
                  },
                  "notes": {
                    "type": "string",
                    "description": "Notes for the contact."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "message": "Note added successfully!"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/contacts/search": {
      "post": {
        "summary": "Search Contacts",
        "description": "Search for contacts based on a query.",
        "operationId": "search-contacts",
        "tags": [
          "Contact"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "search": {
                    "type": "string",
                    "description": "Search query."
                  },
                  "page": {
                    "type": "string",
                    "description": "Page number."
                  },
                  "per_page": {
                    "type": "string",
                    "description": "Number of items per page."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "data": [
                    {
                      "uuid": "123e4567",
                      "first_name": "John"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/contact-groups": {
      "get": {
        "summary": "Get all Contact Groups",
        "description": "Retrieve a list of all contact groups.",
        "operationId": "get-contact-groups",
        "tags": [
          "Contact"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "data": [
                    {
                      "uuid": "group-uuid-123",
                      "name": "VIP Customers"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "summary": "Create Contact Group",
        "description": "Create a new contact group.",
        "operationId": "create-contact-group",
        "tags": [
          "Contact"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Group name."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "id": "group-uuid-123",
                  "message": "Request processed successfully"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/contact-groups/{uuid}": {
      "put": {
        "summary": "Update Contact Group",
        "description": "Update an existing contact group.",
        "operationId": "update-contact-group",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Group name."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "id": "group-uuid-123",
                  "message": "Request processed successfully"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Delete Contact Group",
        "description": "Delete a specific contact group.",
        "operationId": "delete-contact-group",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "id": "group-uuid-123",
                  "message": "Request processed successfully"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/canned-replies": {
      "get": {
        "summary": "Get Canned Replies",
        "description": "Retrieve a list of canned replies.",
        "operationId": "get-canned-replies",
        "tags": [
          "Contact"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "data": [
                    {
                      "uuid": "canned-uuid-123",
                      "title": "Greeting",
                      "message": "Hello"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "summary": "Create Canned Reply",
        "description": "Create a new canned reply.",
        "operationId": "create-canned-reply",
        "tags": [
          "Contact"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Canned reply name."
                  },
                  "trigger": {
                    "type": "string",
                    "description": "Trigger keyword."
                  },
                  "match_criteria": {
                    "type": "string",
                    "description": "Criteria to match."
                  },
                  "response_type": {
                    "type": "string",
                    "description": "Type of response."
                  },
                  "response": {
                    "type": "string",
                    "description": "Response text."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "id": "canned-uuid-123",
                  "message": "Request processed successfully"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/canned-replies/{uuid}": {
      "put": {
        "summary": "Update Canned Reply",
        "description": "Update an existing canned reply.",
        "operationId": "update-canned-reply",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Canned reply name."
                  },
                  "trigger": {
                    "type": "string",
                    "description": "Trigger keyword."
                  },
                  "match_criteria": {
                    "type": "string",
                    "description": "Criteria to match."
                  },
                  "response_type": {
                    "type": "string",
                    "description": "Type of response."
                  },
                  "response": {
                    "type": "string",
                    "description": "Response text."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "id": "canned-uuid-123",
                  "message": "Request processed successfully"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Delete Canned Reply",
        "description": "Delete a specific canned reply.",
        "operationId": "delete-canned-reply",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "id": "canned-uuid-123",
                  "message": "Request processed successfully"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/templates": {
      "get": {
        "summary": "Get WhatsApp Templates",
        "description": "Retrieve a list of WhatsApp templates.",
        "operationId": "get-whatsapp-templates",
        "tags": [
          "Contact"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "data": []
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/get-conversations/{uuid}": {
      "get": {
        "summary": "Get Conversation by UUID",
        "description": "Retrieve a specific conversation by its UUID.",
        "operationId": "get-conversation-by-uuid",
        "tags": [
          "Channel"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/tickets/{uuid}/update": {
      "post": {
        "summary": "Update Ticket Status",
        "description": "Update the status of a specific ticket.",
        "operationId": "update-ticket-status",
        "tags": [
          "Tickets"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "description": "Ticket status."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "message": "Status updated successfully!"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/tickets/{uuid}/assign": {
      "post": {
        "summary": "Assign Ticket to User",
        "description": "Assign a specific ticket to a user.",
        "operationId": "assign-ticket-to-user",
        "tags": [
          "Tickets"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "description": "User identifier."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "message": "Ticket assigned successfully!"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/tickets/status-counts": {
      "post": {
        "summary": "Get Ticket Status Counts",
        "description": "Retrieve the count of tickets by their status.",
        "operationId": "get-ticket-status-counts",
        "tags": [
          "Tickets"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "organization": {
                    "type": "string",
                    "description": "Organization identifier."
                  },
                  "user_id": {
                    "type": "string",
                    "description": "User identifier."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "data": {
                    "unassigned": 0,
                    "open": 1,
                    "closed": 2,
                    "all": 3
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/team": {
      "get": {
        "summary": "Get Team Information",
        "description": "Retrieve information about the team.",
        "operationId": "get-team-information",
        "tags": [
          "Team"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": []
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
        "securitySchemes": {
            "sanctum": {
                "type": "apiKey",
                "description": "Enter token in format (Bearer <token>)",
                "name": "Authorization",
                "in": "header"
            }
        }
    },
  "x-original-swagger-version": "2.0"
}