{
  "openapi": "3.0.1",
  "info": {
    "title": "Bizwachat",
    "description": "Bizwachat API Documentation",
    "version": "1.0.1"
  },
  "servers": [
    {
      "url": "https://bizwachat.com",
      "description": "Default API Server"
    }
  ],
  "tags": [
    {
      "name": "validate",
      "description": "Endpoints related to check-api-key"
    },
    {
      "name": "login",
      "description": "Endpoints related to login"
    },
    {
      "name": "send",
      "description": "Endpoints related to send"
    },
    {
      "name": "upload",
      "description": "Endpoints related to upload"
    },
    {
      "name": "campaigns",
      "description": "Endpoints related to campaigns"
    },
    {
      "name": "contacts",
      "description": "Endpoints related to contacts"
    },
    {
      "name": "contact-groups",
      "description": "Endpoints related to contact-groups"
    },
    {
      "name": "canned-replies",
      "description": "Endpoints related to canned-replies"
    },
    {
      "name": "templates",
      "description": "Endpoints related to templates"
    },
    {
      "name": "get-conversations",
      "description": "Endpoints related to get-conversations"
    },
    {
      "name": "tickets",
      "description": "Endpoints related to tickets"
    },
    {
      "name": "team",
      "description": "Endpoints related to team"
    }
  ],
  "paths": {
    "/api/check-api-key": {
      "get": {
        "tags": [
          "validate"
        ],
        "summary": "[GET] api/check-api-key",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Custom-Header"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              " application/json; charset=utf-8": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        }
      },
      "post": {
        "tags": [
          "validate"
        ],
        "summary": "[POST] api/check-api-key",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Custom-Header"
          }
        ],
        "security": [
                    {
                        "bearerAuth": []
                    }
                ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              " application/json; charset=utf-8": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        }
      }
    },
    "/api/login": {
      "post": {
        "tags": [
          "login"
        ],
        "summary": "[POST] api/login",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Custom-Header"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              " application/json; charset=utf-8": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            " application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "User's email address."
                  },
                  "password": {
                    "type": "string",
                    "description": "User's password."
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        }
      }
    },
    "/api/send": {
      "post": {
        "tags": [
          "send"
        ],
        "summary": "[POST] api/send",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Custom-Header"
          }
        ],
        "security": [
                    {
                        "bearerAuth": []
                    }
                ],
        "responses": {
          "200": {
            "description": "Sent 200",
            "content": {
              " application/json; charset=utf-8": {
                "example": "{\n  \"statusCode\": 200,\n  \"data\": { \"status\": \"sent\" }\n}"
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            " application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string",
                    "description": "Recipient's phone number in international format."
                  },
                  "message": {
                    "type": "string",
                    "description": "Text message to send."
                  },
                  "header": {
                    "type": "string",
                    "description": "Header text for the message (optional)."
                  },
                  "footer": {
                    "type": "string",
                    "description": "Footer text for the message (optional)."
                  },
                  "buttons[0][id]": {
                    "type": "string",
                    "description": "Button 1 unique identifier."
                  },
                  "buttons[0][title]": {
                    "type": "string",
                    "description": "Button 1 display title."
                  },
                  "buttons[1][id]": {
                    "type": "string",
                    "description": "Button 2 unique identifier."
                  },
                  "buttons[1][title]": {
                    "type": "string",
                    "description": "Button 2 display title."
                  }
                },
                "required": [
                  "phone",
                  "message",
                  "header",
                  "footer",
                  "buttons[0][id]",
                  "buttons[0][title]",
                  "buttons[1][id]",
                  "buttons[1][title]"
                ]
              }
            }
          }
        }
      }
    },
    "/api/send/template": {
      "post": {
        "tags": [
          "send"
        ],
        "summary": "[POST] api/send/template",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Custom-Header"
          }
        ],
        "security": [
                    {
                        "bearerAuth": []
                    }
                ],
        "responses": {
          "200": {
            "description": "Template Sent 200",
            "content": {
              " application/json; charset=utf-8": {
                "example": "{\n  \"statusCode\": 200,\n  \"data\": { \"status\": \"sent\" }\n}\n"
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            " application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string",
                    "description": "Recipient phone number."
                  },
                  "template[name]": {
                    "type": "string",
                    "description": "Template name."
                  },
                  "template[language][code]": {
                    "type": "string",
                    "description": "Template language code."
                  },
                  "template[components]": {
                    "type": "string",
                    "description": "Template components as JSON string."
                  }
                },
                "required": [
                  "phone",
                  "template[name]",
                  "template[language][code]",
                  "template[components]"
                ]
              }
            }
          }
        }
      }
    },
    "/api/send/media": {
      "post": {
        "tags": [
          "send"
        ],
        "summary": "[POST] api/send/media",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Custom-Header"
          }
        ],
        "security": [
                    {
                        "bearerAuth": []
                    }
                ],
        "responses": {
          "200": {
            "description": "Media Sent 200",
            "content": {
              " application/json; charset=utf-8": {
                "example": "{\n  \"statusCode\": 200,\n  \"data\": { \"status\": \"sent\" }\n}\n"
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            " application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string",
                    "description": "Recipient phone number."
                  },
                  "media_type": {
                    "type": "string",
                    "description": "Media type: image/video/document."
                  },
                  "media_url": {
                    "type": "string",
                    "description": "Public URL of the media."
                  },
                  "caption": {
                    "type": "string",
                    "description": "Caption for the media (optional)."
                  },
                  "file_name": {
                    "type": "string",
                    "description": "File name for the uploaded media (optional)."
                  }
                },
                "required": [
                  "phone",
                  "media_type",
                  "media_url",
                  "caption",
                  "file_name"
                ]
              }
            }
          }
        }
      }
    },
    "/api/upload/media": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "[POST] api/upload/media",
        "security": [
                    {
                        "bearerAuth": []
                    }
                ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Custom-Header"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              " application/json; charset=utf-8": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            " application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "File to upload."
                  },
                  "organization": {
                    "type": "string",
                    "description": "Organization id."
                  }
                },
                "required": [
                  "file",
                  "organization"
                ]
              }
            }
          }
        }
      }
    },
    "/api/campaigns": {
      "post": {
        "tags": [
          "campaigns"
        ],
        "summary": "[POST] api/campaigns",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Custom-Header"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              " application/json; charset=utf-8": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            " application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Campaign title (example)."
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        }
      }
    },
    "/api/contacts/{uuid}": {
      "get": {
        "tags": [
          "contacts"
        ],
        "summary": "[GET] api/contacts/{uuid}",
        "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "Contact UUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "Organization ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "User ID (for ticket assignment)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
        "responses": {
          "200": {
            "description": "Success 200",
            "content": {
              " application/json; charset=utf-8": {
                "example": "{\n  \"statusCode\": 200,\n  \"data\": { \"uuid\": \"123e4567-e89b-12d3-a456-426614174000\", \"first_name\": \"John\", \"phone\": \"+1234567890\" }\n}"
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        }
      },
      "put": {
        "tags": [
          "contacts"
        ],
        "summary": "[PUT] api/contacts/{uuid}",
        "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              " application/json; charset=utf-8": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            " application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "Contact first name."
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Contact last name (optional)."
                  },
                  "email": {
                    "type": "string",
                    "description": "Contact email (optional)."
                  },
                  "phone": {
                    "type": "string",
                    "description": "Contact phone in international format."
                  }
                },
                "required": [
                  "first_name",
                  "last_name",
                  "email",
                  "phone"
                ]
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "contacts"
        ],
        "summary": "[DELETE] api/contacts/{uuid}",
        "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],

        "responses": {
          "200": {
            "description": "Deleted 200",
            "content": {
              " application/json; charset=utf-8": {
                "example": "{\n  \"statusCode\": 200,\n  \"id\": \"contact-uuid-123\",\n  \"message\": \"Request processed successfully\"\n}"
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        }
      }
    },
    "/api/contacts": {
      "get": {
        "tags": [
          "contacts"
        ],
        "summary": "[GET] api/contacts",
        "security": [
                    {
                        "bearerAuth": []
                    }
                ],
        "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
        "responses": {
          "200": {
            "description": "List 200",
            "content": {
              " application/json; charset=utf-8": {
                "example": "{\n  \"statusCode\": 200,\n  \"data\": [{ \"uuid\": \"123e4567-e89b-12d3-a456-426614174000\", \"first_name\": \"John\" }],\n  \"meta\": { \"current_page\": 1, \"per_page\": 10 }\n}"
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        }
      },
      "post": {
        "tags": [
          "contacts"
        ],
        "summary": "[POST] api/contacts",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Custom-Header"
          }
        ],
        "security": [
                    {
                        "bearerAuth": []
                    }
                ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              " application/json; charset=utf-8": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            " application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "Contact first name."
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Contact last name (optional)."
                  },
                  "email": {
                    "type": "string",
                    "description": "Contact email (optional)."
                  },
                  "phone": {
                    "type": "string",
                    "description": "Contact phone in international format."
                  }
                },
                "required": [
                  "first_name",
                  "last_name",
                  "email",
                  "phone"
                ]
              }
            }
          }
        }
      }
    },
    "/api/contacts/{uuid}/notes": {
      "get": {
        "tags": [
          "contacts"
        ],
        "summary": "[GET] api/contacts/{uuid}/notes",
        "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
        "security": [
                    {
                        "bearerAuth": []
                    }
                ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              " application/json; charset=utf-8": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        }
      }
    },
    "/api/contacts/notes": {
      "post": {
        "tags": [
          "contacts"
        ],
        "summary": "[POST] api/contacts/notes",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Custom-Header"
          }
        ],
        "security": [
                    {
                        "bearerAuth": []
                    }
                ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              " application/json; charset=utf-8": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            " application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "contact": {
                    "type": "string",
                    "description": "UUID of the contact."
                  },
                  "notes": {
                    "type": "string",
                    "description": "Note text to add to the contact."
                  }
                },
                "required": [
                  "contact",
                  "notes"
                ]
              }
            }
          }
        }
      }
    },
    "/api/contacts/search": {
      "post": {
        "tags": [
          "contacts"
        ],
        "summary": "[POST] api/contacts/search",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Custom-Header"
          }
        ],
        "security": [
                    {
                        "bearerAuth": []
                    }
                ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              " application/json; charset=utf-8": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            " application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "search": {
                    "type": "string",
                    "description": "Search term for first name, last name, or phone."
                  },
                  "page": {
                    "type": "string",
                    "description": "Page number (optional)."
                  },
                  "per_page": {
                    "type": "string",
                    "description": "Results per page (optional)."
                  }
                },
                "required": [
                  "search",
                  "page",
                  "per_page"
                ]
              }
            }
          }
        }
      }
    },
    "/api/contacts/with-last-chats": {
      "post": {
        "tags": [
          "contacts"
        ],
        "summary": "[POST] api/contacts/with-last-chats",
        "security": [
                    {
                        "bearerAuth": []
                    }
                ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              " application/json; charset=utf-8": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            " application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "organization": {
                    "type": "string",
                    "description": "Organization identifier (required)."
                  },
                  "status": {
                    "type": "string",
                    "description": "Filter by ticket status: all, unassigned, open, closed (optional)."
                  },
                  "search": {
                    "type": "string",
                    "description": "Search term for contacts (optional)."
                  },
                  "page": {
                    "type": "string",
                    "description": "Page number (optional)."
                  },
                  "per_page": {
                    "type": "string",
                    "description": "Results per page (optional)."
                  }
                },
                "required": [
                  "organization",
                  "status",
                  "search",
                  "page",
                  "per_page"
                ]
              }
            }
          }
        }
      }
    },
    "/api/contact-groups": {
      "get": {
        "tags": [
          "contact-groups"
        ],
        "summary": "[GET] api/contact-groups",
        "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
        "responses": {
          "200": {
            "description": "Success 200",
            "content": {
              " application/json; charset=utf-8": {
                "example": "{\n  \"statusCode\": 200,\n  \"data\": [{ \"uuid\": \"group-uuid-123\", \"name\": \"VIP Customers\" }]\n}"
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        }
      },
      "post": {
        "tags": [
          "contact-groups"
        ],
        "summary": "[POST] api/contact-groups",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Custom-Header"
          }
        ],
        "security": [
                    {
                        "bearerAuth": []
                    }
                ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              " application/json; charset=utf-8": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            " application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the contact group."
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        }
      }
    },
    "/api/contact-groups/{uuid}": {
      "put": {
        "tags": [
          "contact-groups"
        ],
        "summary": "[PUT] api/contact-groups/{uuid}",
        "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              " application/json; charset=utf-8": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            " application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Updated name of the contact group."
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "contact-groups"
        ],
        "summary": "[DELETE] api/contact-groups/{uuid}",
        "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
        "responses": {
          "200": {
            "description": "Deleted 200",
            "content": {
              " application/json; charset=utf-8": {
                "example": "{\n  \"statusCode\": 200,\n  \"id\": \"group-uuid-123\",\n  \"message\": \"Request processed successfully\"\n}"
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        }
      }
    },
    "/api/canned-replies": {
      "get": {
        "tags": [
          "canned-replies"
        ],
        "summary": "[GET] api/canned-replies",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Custom-Header"
          }
        ],
        "responses": {
          "200": {
            "description": "Success 200",
            "content": {
              " application/json; charset=utf-8": {
                "example": "{\n  \"statusCode\": 200,\n  \"data\": [{ \"uuid\": \"canned-uuid-123\", \"title\": \"Greeting\", \"message\": \"Hello\" }]\n}"
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        }
      },
      "post": {
        "tags": [
          "canned-replies"
        ],
        "summary": "[POST] api/canned-replies",

        "security": [
                    {
                        "bearerAuth": []
                    }
                ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              " application/json; charset=utf-8": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            " application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the canned reply."
                  },
                  "trigger": {
                    "type": "string",
                    "description": "Trigger phrase to match."
                  },
                  "match_criteria": {
                    "type": "string",
                    "description": "Match criteria: contains/exact (optional)."
                  },
                  "response_type": {
                    "type": "string",
                    "description": "Response type (text/media)."
                  },
                  "response": {
                    "type": "string",
                    "description": "Response content."
                  }
                },
                "required": [
                  "name",
                  "trigger",
                  "match_criteria",
                  "response_type",
                  "response"
                ]
              }
            }
          }
        }
      }
    },
    "/api/canned-replies/{uuid}": {
      "put": {
        "tags": [
          "canned-replies"
        ],
        "summary": "[PUT] api/canned-replies/{uuid}",
        "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              " application/json; charset=utf-8": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            " application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the canned reply."
                  },
                  "trigger": {
                    "type": "string",
                    "description": "Trigger phrase to match."
                  },
                  "match_criteria": {
                    "type": "string",
                    "description": "Match criteria: contains/exact (optional)."
                  },
                  "response_type": {
                    "type": "string",
                    "description": "Response type (text/media)."
                  },
                  "response": {
                    "type": "string",
                    "description": "Response content."
                  }
                },
                "required": [
                  "name",
                  "trigger",
                  "match_criteria",
                  "response_type",
                  "response"
                ]
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "canned-replies"
        ],
        "summary": "[DELETE] api/canned-replies/{uuid}",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Custom-Header"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted 200",
            "content": {
              " application/json; charset=utf-8": {
                "example": "{\n  \"statusCode\": 200,\n  \"id\": \"canned-uuid-123\",\n  \"message\": \"Request processed successfully\"\n}"
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        }
      }
    },
    "/api/templates": {
      "get": {
        "tags": [
          "templates"
        ],
        "summary": "[GET] api/templates",
        "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
        "responses": {
          "200": {
            "description": "Templates 200",
            "content": {
              " application/json; charset=utf-8": {
                "example": "{\n  \"statusCode\": 200,\n  \"data\": []\n}"
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        }
      }
    },
    "/api/get-conversations/{uuid?}": {
      "get": {
        "tags": [
          "get-conversations"
        ],
        "summary": "[GET] api/get-conversations/{uuid?}",
        "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                 "security": [
                    {
                        "bearerAuth": []
                    }
                ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              " application/json; charset=utf-8": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        }
      }
    },
    "/api/tickets/{uuid}/update": {
      "post": {
        "tags": [
          "tickets"
        ],
        "summary": "[POST] api/tickets/{uuid}/update",
        "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
        "security": [
                    {
                        "bearerAuth": []
                    }
                ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              " application/json; charset=utf-8": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            " application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "description": "Ticket status: open or closed."
                  }
                },
                "required": [
                  "status"
                ]
              }
            }
          }
        }
      }
    },
    "/api/tickets/{uuid}/assign": {
      "post": {
        "tags": [
          "tickets"
        ],
        "summary": "[POST] api/tickets/{uuid}/assign",
        "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              " application/json; charset=utf-8": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            " application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "description": "User id to assign the ticket to."
                  }
                },
                "required": [
                  "user_id"
                ]
              }
            }
          }
        }
      }
    },
    "/api/tickets/status-counts": {
      "post": {
        "tags": [
          "tickets"
        ],
        "summary": "[POST] api/tickets/status-counts",
        "security": [
                    {
                        "bearerAuth": []
                    }
                ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              " application/json; charset=utf-8": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            " application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "organization": {
                    "type": "string",
                    "description": "Organization id (required)."
                  },
                  "user_id": {
                    "type": "string",
                    "description": "User id (required)."
                  }
                },
                "required": [
                  "organization",
                  "user_id"
                ]
              }
            }
          }
        }
      }
    },
    "/api/team": {
      "get": {
        "tags": [
          "team"
        ],
        "summary": "[GET] api/team",
        "security": [
                    {
                        "bearerAuth": []
                    }
                ],
        "parameters": [
                    {
                        "name": "organization",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
        "responses": {
          "200": {
            "description": "Team List 200",
            "content": {
              " application/json; charset=utf-8": {
                "example": "{\n  \"status\": \"success\",\n  \"data\": []\n}"
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        }
      }
    }
  },
  "components": {
        "securitySchemes": {
            "sanctum": {
                "type": "apiKey",
                "description": "Enter token in format (Bearer <token>)",
                "name": "Authorization",
                "in": "header"
            }
        }
    },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}