{
  "openapi": "3.0.1",
  "info": {
    "title": "BizCRM Chats",
    "description": "API Documentation",
    "version": "1.0.0",
    "termsOfService": "https://bizwachat.com/terms",
    "contact": {
      "email": "hello@bizcrmapp.com"
    },
    "license": {
      "name": "MIT License",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://bizwachat.com/api"
    }
  ],
  "security": [
    {
      "apiToken": []
    }
  ],
  "paths": {
    "/check-api-key": {
      "get": {
        "summary": "[GET] api/check-api-key",
        "description": "",
        "tags": [
          "Channel"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      },
      "post": {
        "summary": "[POST] api/check-api-key",
        "description": "",
        "tags": [
          "Channel"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      }
    },
    "/login": {
      "post": {
        "summary": "[POST] api/login",
        "description": "",
        "tags": [
          "Channel"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                  "required": ["email", "password"],
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "User's email address."
                  },
                  "password": {
                    "type": "string",
                    "description": "User's password."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      }
    },
    "/send": {
      "post": {
        "summary": "[POST] api/send",
        "description": "",
        "tags": [
          "Message"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                  "required": ["phone", "message", "header", "footer", "buttons"],
                "properties": {
                  "phone": {
                    "type": "string",
                    "description": "Recipient's phone number."
                  },
                  "message": {
                    "type": "string",
                    "description": "Message text to send."
                  },
                  "header": {
                    "type": "string",
                    "description": "Message header."
                  },
                  "footer": {
                    "type": "string",
                    "description": "Message footer."
                  },
                  "buttons": {
                    "type": "array",
                    "description": "List of message buttons.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Button ID."
                        },
                        "title": {
                          "type": "string",
                          "description": "Button title."
                        }
                      },
                      "required": ["id", "title"]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "data": {
                    "status": "sent"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      }
    },
    "/send/template": {
      "post": {
        "summary": "[POST] api/send/template",
        "description": "",
        "tags": [
          "Message"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                  "required": ["phone", "template[name]", "template[language][code]", "template[components]"],
                "properties": {
                  "phone": {
                    "type": "string",
                    "description": "Recipient's phone number."
                  },
                  "template[name]": {
                    "type": "string",
                    "description": "Template name."
                  },
                  "template[language][code]": {
                    "type": "string",
                    "description": "Template language code."
                  },
                  "template[components]": {
                    "type": "string",
                    "description": "Template components."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "data": {
                    "status": "sent"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      }
    },
    "/send/media": {
      "post": {
        "summary": "[POST] api/send/media",
        "description": "",
        "tags": [
          "Message"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                  "required": ["phone", "media_type", "media_url", "caption", "file_name"],
                "properties": {
                  "phone": {
                    "type": "string",
                    "description": "Recipient's phone number."
                  },
                  "media_type": {
                    "type": "string",
                    "description": "Type of media."
                  },
                  "media_url": {
                    "type": "string",
                    "description": "URL of the media file."
                  },
                  "caption": {
                    "type": "string",
                    "description": "Caption for the media."
                  },
                  "file_name": {
                    "type": "string",
                    "description": "Name of the media file."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "data": {
                    "status": "sent"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      }
    },
    "/upload/media": {
      "post": {
        "summary": "[POST] api/upload/media",
        "description": "",
        "tags": [
          "Channel"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                  "required": ["file", "organization"],
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "File to upload."
                  },
                  "organization": {
                    "type": "string",
                    "description": "Organization identifier."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "message": "File uploaded successfully.",
                  "media_url": "https://example.com/media.jpg",
                  "location": "amazon"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      }
    },
    "/campaigns": {
      "post": {
        "summary": "[POST] api/campaigns",
        "description": "",
        "tags": [
          "Message"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                  "required": ["name"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Campaign name."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "id": "campaign-uuid-123",
                  "message": "Request processed successfully"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      }
    },
    "/contacts/{uuid}": {
      "get": {
        "summary": "[GET] api/contacts/{uuid}",
        "description": "",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "data": {
                    "uuid": "123e4567-e89b-12d3-a456-426614174000",
                    "first_name": "John",
                    "phone": "+1234567890"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      },
      "put": {
        "summary": "[PUT] api/contacts/{uuid}",
        "description": "",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "Contact's first name."
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Contact's last name."
                  },
                  "email": {
                    "type": "string",
                    "description": "Contact's email address."
                  },
                  "phone": {
                    "type": "string",
                    "description": "Contact's phone number."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "id": "contact-uuid-123",
                  "message": "Request processed successfully"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      },
      "delete": {
        "summary": "[DELETE] api/contacts/{uuid}",
        "description": "",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "id": "contact-uuid-123",
                  "message": "Request processed successfully"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      }
    },
    "/contacts": {
      "get": {
        "summary": "[GET] api/contacts",
        "description": "",
        "tags": [
          "Contact"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "data": [
                    {
                      "uuid": "123e4567-e89b-12d3-a456-426614174000",
                      "first_name": "John"
                    }
                  ],
                  "meta": {
                    "current_page": 1,
                    "per_page": 10
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      },
      "post": {
        "summary": "[POST] api/contacts",
        "description": "",
        "tags": [
          "Contact"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "Contact's first name."
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Contact's last name."
                  },
                  "email": {
                    "type": "string",
                    "description": "Contact's email address."
                  },
                  "phone": {
                    "type": "string",
                    "description": "Contact's phone number."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "id": "contact-uuid-123",
                  "message": "Request processed successfully"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      }
    },
    "/contacts/{uuid}/notes": {
      "get": {
        "summary": "[GET] api/contacts/{uuid}/notes",
        "description": "",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      }
    },
    "/contacts/notes": {
      "post": {
        "summary": "[POST] api/contacts/notes",
        "description": "",
        "tags": [
          "Contact"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "contact": {
                    "type": "string",
                    "description": "Contact identifier."
                  },
                  "notes": {
                    "type": "string",
                    "description": "Notes for the contact."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "message": "Note added successfully!"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      }
    },
    "/contacts/search": {
      "post": {
        "summary": "[POST] api/contacts/search",
        "description": "",
        "tags": [
          "Contact"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "search": {
                    "type": "string",
                    "description": "Search query."
                  },
                  "page": {
                    "type": "string",
                    "description": "Page number."
                  },
                  "per_page": {
                    "type": "string",
                    "description": "Number of items per page."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "data": [
                    {
                      "uuid": "123e4567",
                      "first_name": "John"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      }
    },
    "/contact-groups": {
      "get": {
        "summary": "[GET] api/contact-groups",
        "description": "",
        "tags": [
          "Contact"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "data": [
                    {
                      "uuid": "group-uuid-123",
                      "name": "VIP Customers"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      },
      "post": {
        "summary": "[POST] api/contact-groups",
        "description": "",
        "tags": [
          "Contact"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Group name."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "id": "group-uuid-123",
                  "message": "Request processed successfully"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      }
    },
    "/contact-groups/{uuid}": {
      "put": {
        "summary": "[PUT] api/contact-groups/{uuid}",
        "description": "",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Group name."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "id": "group-uuid-123",
                  "message": "Request processed successfully"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      },
      "delete": {
        "summary": "[DELETE] api/contact-groups/{uuid}",
        "description": "",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "id": "group-uuid-123",
                  "message": "Request processed successfully"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      }
    },
    "/canned-replies": {
      "get": {
        "summary": "[GET] api/canned-replies",
        "description": "",
        "tags": [
          "Contact"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "data": [
                    {
                      "uuid": "canned-uuid-123",
                      "title": "Greeting",
                      "message": "Hello"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      },
      "post": {
        "summary": "[POST] api/canned-replies",
        "description": "",
        "tags": [
          "Contact"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Canned reply name."
                  },
                  "trigger": {
                    "type": "string",
                    "description": "Trigger keyword."
                  },
                  "match_criteria": {
                    "type": "string",
                    "description": "Criteria to match."
                  },
                  "response_type": {
                    "type": "string",
                    "description": "Type of response."
                  },
                  "response": {
                    "type": "string",
                    "description": "Response text."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "id": "canned-uuid-123",
                  "message": "Request processed successfully"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      }
    },
    "/canned-replies/{uuid}": {
      "put": {
        "summary": "[PUT] api/canned-replies/{uuid}",
        "description": "",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Canned reply name."
                  },
                  "trigger": {
                    "type": "string",
                    "description": "Trigger keyword."
                  },
                  "match_criteria": {
                    "type": "string",
                    "description": "Criteria to match."
                  },
                  "response_type": {
                    "type": "string",
                    "description": "Type of response."
                  },
                  "response": {
                    "type": "string",
                    "description": "Response text."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "id": "canned-uuid-123",
                  "message": "Request processed successfully"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      },
      "delete": {
        "summary": "[DELETE] api/canned-replies/{uuid}",
        "description": "",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "id": "canned-uuid-123",
                  "message": "Request processed successfully"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      }
    },
    "/templates": {
      "get": {
        "summary": "[GET] api/templates",
        "description": "",
        "tags": [
          "Contact"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "data": []
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      }
    },
    "/get-conversations/{uuid}": {
      "get": {
        "summary": "[GET] api/get-conversations/{uuid?}",
        "description": "",
        "tags": [
          "Channel"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      }
    },
    "/get-conversations": {
      "get": {
        "summary": "[GET] api/get-conversations/{uuid?}",
        "description": "",
        "tags": [
          "Channel"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      }
    },
    "/tickets/{uuid}/update": {
      "post": {
        "summary": "[POST] api/tickets/{uuid}/update",
        "description": "",
        "tags": [
          "Tickets"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "description": "Ticket status."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "message": "Status updated successfully!"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      }
    },
    "/tickets/{uuid}/assign": {
      "post": {
        "summary": "[POST] api/tickets/{uuid}/assign",
        "description": "",
        "tags": [
          "Tickets"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "description": "User identifier."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "message": "Ticket assigned successfully!"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      }
    },
    "/tickets/status-counts": {
      "post": {
        "summary": "[POST] api/tickets/status-counts",
        "description": "",
        "tags": [
          "Tickets"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "organization": {
                    "type": "string",
                    "description": "Organization identifier."
                  },
                  "user_id": {
                    "type": "string",
                    "description": "User identifier."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "data": {
                    "unassigned": 0,
                    "open": 1,
                    "closed": 2,
                    "all": 3
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      }
    },
    "/team": {
      "get": {
        "summary": "[GET] api/team",
        "description": "",
        "tags": [
          "Team"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": []
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "API token. Use 'Bearer <token>' format."
      }
    }
  },
  "tags": [
    {
      "name": "Message",
      "description": "Endpoints related to Message"
    },
    {
      "name": "Contact",
      "description": "Endpoints related to Contact"
    },
    {
      "name": "Tickets",
      "description": "Endpoints related to Tickets"
    },
    {
      "name": "Team",
      "description": "Endpoints related to Team"
    },
    {
      "name": "Channel",
      "description": "Endpoints related to Channel"
    }
  ]
}