{
  "openapi": "3.0.0",
  "info": {
    "title": "Bizwachat-v1",
    "version": "1.0.0",
    "description": ""
  },
  "servers": [
    {
      "url": "https://bizwachat.com"
    },
    {
      "url": ""
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Enter your Bearer token in the format: Bearer <token>"
      }
    }
  },
  "paths": {
    "/api/contacts": {
      "parameters": [],
      "get": {
        "summary": "Get Contacts",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/json"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "nginx/1.25.4"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "Vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                },
                "example": "PHP/8.1.22"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache, private"
              },
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Fri, 12 Apr 2024 09:29:14 GMT"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": "60"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": "59"
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "gzip"
              }
            },
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "uuid": {
                            "type": "string"
                          },
                          "organization_id": {
                            "type": "integer"
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string",
                            "format": "utc-millisec"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          },
                          "avatar": {
                            "nullable": true
                          },
                          "address": {
                            "type": "string",
                            "format": "style"
                          },
                          "contact_group_id": {
                            "type": "integer"
                          },
                          "is_favorite": {
                            "type": "integer"
                          },
                          "created_by": {
                            "type": "integer"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "style"
                          },
                          "deleted_at": {
                            "nullable": true
                          },
                          "full_name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string",
                          "format": "uri"
                        },
                        "last": {
                          "type": "string",
                          "format": "uri"
                        },
                        "prev": {
                          "nullable": true
                        },
                        "next": {
                          "type": "string",
                          "format": "uri"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "from": {
                          "type": "integer"
                        },
                        "last_page": {
                          "type": "integer"
                        },
                        "links": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "nullable": true
                              },
                              "label": {
                                "type": "string"
                              },
                              "active": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "path": {
                          "type": "string",
                          "format": "uri"
                        },
                        "per_page": {
                          "type": "integer"
                        },
                        "to": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Contact",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/json"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "nginx/1.25.4"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "Vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                },
                "example": "PHP/8.1.22"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache, private"
              },
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Fri, 12 Apr 2024 09:29:53 GMT"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": "60"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": "57"
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "gzip"
              }
            },
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
        "required": ["first_name", "last_name", "phone"],
                "type": "object",
                "properties": {
                  "first_name": {
          "type": "string",
          "description": "First name of the contact"
                  },
                  "last_name": {
          "type": "string",
          "description": "Last name of the contact"
                  },
                  "email": {
                    "type": "string",
          "format": "email",
          "description": "Email address of the contact"
                  },
                  "phone": {
                    "type": "string",
          "format": "utc-millisec",
          "description": "Phone number of the contact in international format"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/contacts/{{uuid}}": {
      "parameters": [
        {
          "name": "uuid",
          "in": "path",
          "required": true,
          "description": "UUID of the Contact",
          "example": "string",
          "schema": {
            "type": "string"
          }
        }
      ],
      "put": {
        "summary": "Update Contact with UUID",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/json"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "nginx/1.25.4"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "Vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                },
                "example": "PHP/8.1.22"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache, private"
              },
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Fri, 12 Apr 2024 09:30:41 GMT"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": "60"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": "59"
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "gzip"
              }
            },
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
        "required": ["first_name", "last_name", "phone"],
                "type": "object",
                "properties": {
                  "first_name": {
          "type": "string",
          "description": "First name of the contact"
                  },
                  "last_name": {
          "type": "string",
          "description": "Last name of the contact"
                  },
                  "email": {
                    "type": "string",
          "format": "email",
          "description": "Email address of the contact"
                  },
                  "phone": {
                    "type": "string",
          "format": "utc-millisec",
          "description": "Phone number of the contact in international format"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Delete Contact with UUID",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/json"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "nginx/1.25.4"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "Vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                },
                "example": "PHP/8.1.22"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache, private"
              },
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Fri, 12 Apr 2024 09:31:12 GMT"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": "60"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": "58"
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "gzip"
              }
            },
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Search Contact by UUID",
        "parameters": [],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/contact-groups": {
      "parameters": [],
      "get": {
        "summary": "Get Contact Groups",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/json"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "nginx/1.25.4"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "Vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                },
                "example": "PHP/8.1.22"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache, private"
              },
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Fri, 12 Apr 2024 09:44:10 GMT"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": "60"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": "59"
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "gzip"
              }
            },
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "uuid": {
                            "type": "string"
                          },
                          "organization_id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "created_by": {
                            "type": "integer"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deleted_at": {
                            "nullable": true
                          }
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string",
                          "format": "uri"
                        },
                        "last": {
                          "type": "string",
                          "format": "uri"
                        },
                        "prev": {
                          "nullable": true
                        },
                        "next": {
                          "nullable": true
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "from": {
                          "type": "integer"
                        },
                        "last_page": {
                          "type": "integer"
                        },
                        "links": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "nullable": true
                              },
                              "label": {
                                "type": "string"
                              },
                              "active": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "path": {
                          "type": "string",
                          "format": "uri"
                        },
                        "per_page": {
                          "type": "integer"
                        },
                        "to": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Contact Group",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/json"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "nginx/1.25.4"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "Vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                },
                "example": "PHP/8.1.22"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache, private"
              },
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Fri, 12 Apr 2024 09:44:24 GMT"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": "60"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": "58"
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "gzip"
              }
            },
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
        "required": ["name"],
                "type": "object",
                "properties": {
                  "name": {
          "type": "string",
          "description": "Name of the contact group"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/contact-groups/{{uuid}}": {
      "parameters": [
        {
          "name": "uuid",
          "in": "path",
          "required": true,
          "description": "(Required) ",
          "example": "string",
          "schema": {
            "type": "string"
          }
        }
      ],
      "put": {
        "summary": "Edit Contact Group with UUID",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "deprecated": false
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "deprecated": false
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/json"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "nginx/1.25.4"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "Vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                },
                "example": "PHP/8.1.22"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache, private"
              },
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Fri, 12 Apr 2024 09:44:38 GMT"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": "60"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": "57"
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "gzip"
              }
            },
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
        "required": ["name"],
                "type": "object",
                "properties": {
                  "name": {
          "type": "string",
          "description": "Updated name of the contact group"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Contact Group with UUID",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/json"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "nginx/1.25.4"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "Vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                },
                "example": "PHP/8.1.22"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache, private"
              },
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Fri, 12 Apr 2024 09:45:11 GMT"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": "60"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": "59"
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "gzip"
              }
            },
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/canned-replies": {
      "parameters": [],
      "get": {
        "summary": "Automated Replies",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/json"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "nginx/1.25.4"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "Vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                },
                "example": "PHP/8.1.22"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache, private"
              },
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Fri, 12 Apr 2024 09:39:23 GMT"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": "60"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": "59"
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "gzip"
              }
            },
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "uuid": {
                            "type": "string"
                          },
                          "organization_id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "trigger": {
                            "type": "string"
                          },
                          "match_criteria": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "string",
                            "format": "style"
                          },
                          "created_by": {
                            "type": "integer"
                          },
                          "deleted_by": {
                            "nullable": true
                          },
                          "deleted_at": {
                            "nullable": true
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "style"
                          }
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string",
                          "format": "uri"
                        },
                        "last": {
                          "type": "string",
                          "format": "uri"
                        },
                        "prev": {
                          "nullable": true
                        },
                        "next": {
                          "nullable": true
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "from": {
                          "type": "integer"
                        },
                        "last_page": {
                          "type": "integer"
                        },
                        "links": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "nullable": true
                              },
                              "label": {
                                "type": "string"
                              },
                              "active": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "path": {
                          "type": "string",
                          "format": "uri"
                        },
                        "per_page": {
                          "type": "integer"
                        },
                        "to": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Send Automated Reply",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/json"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "nginx/1.25.4"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "Vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                },
                "example": "PHP/8.1.22"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache, private"
              },
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Fri, 12 Apr 2024 09:39:36 GMT"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": "60"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": "58"
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "gzip"
              }
            },
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
        "required": ["name", "trigger", "response_type", "response"],
                "type": "object",
                "properties": {
                  "name": {
          "type": "string",
          "description": "Name of the automated reply"
                  },
                  "trigger": {
          "type": "string",
          "description": "Trigger keyword or phrase"
                  },
                  "match_criteria": {
          "type": "string",
          "description": "Criteria describing how trigger matches (e.g., exact, contains)"
                  },
                  "response_type": {
          "type": "string",
          "description": "Type of response (text, template, media)"
                  },
                  "response": {
          "type": "string",
          "description": "Reply content sent when trigger matches"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/canned-replies/{{autoreply-uuid}}": {
      "parameters": [
        {
          "name": "autoreply-uuid",
          "in": "path",
          "required": true,
          "description": "(Required) ",
          "example": "string",
          "schema": {
            "type": "string"
          }
        }
      ],
      "put": {
        "summary": "Update Automated Reply with UUID",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/json"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "nginx/1.25.4"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "Vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                },
                "example": "PHP/8.1.22"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache, private"
              },
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Fri, 12 Apr 2024 09:39:57 GMT"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": "60"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": "57"
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "gzip"
              }
            },
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "trigger": {
                    "type": "string"
                  },
                  "match_criteria": {
                    "type": "string"
                  },
                  "response_type": {
                    "type": "string"
                  },
                  "response": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Automated Reply with UUID",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/json"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "nginx/1.25.4"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "Vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                },
                "example": "PHP/8.1.22"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache, private"
              },
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Fri, 12 Apr 2024 09:40:25 GMT"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": "60"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": "59"
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "gzip"
              }
            },
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/send": {
      "parameters": [],
      "post": {
        "summary": "Send Message",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "deprecated": false
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "deprecated": false
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/json"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "nginx/1.25.4"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "Vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                },
                "example": "PHP/8.1.22"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache, private"
              },
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Fri, 12 Apr 2024 09:08:49 GMT"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": "60"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": "58"
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "gzip"
              }
            },
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "messaging_product": {
                              "type": "string"
                            },
                            "contacts": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "input": {
                                    "type": "string",
                                    "format": "utc-millisec"
                                  },
                                  "wa_id": {
                                    "type": "string",
                                    "format": "utc-millisec"
                                  }
                                }
                              }
                            },
                            "messages": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "chat": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer"
                                },
                                "uuid": {
                                  "type": "string"
                                },
                                "organization_id": {
                                  "type": "integer"
                                },
                                "wam_id": {
                                  "type": "string"
                                },
                                "contact_id": {
                                  "type": "integer"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "metadata": {
                                  "type": "string",
                                  "format": "style"
                                },
                                "media_id": {
                                  "nullable": true
                                },
                                "status": {
                                  "type": "string"
                                },
                                "deleted_by": {
                                  "nullable": true
                                },
                                "deleted_at": {
                                  "nullable": true
                                },
                                "created_at": {
                                  "type": "string",
                                  "format": "style"
                                },
                                "contact": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "integer"
                                    },
                                    "uuid": {
                                      "type": "string"
                                    },
                                    "organization_id": {
                                      "type": "integer"
                                    },
                                    "first_name": {
                                      "nullable": true
                                    },
                                    "last_name": {
                                      "nullable": true
                                    },
                                    "phone": {
                                      "type": "string",
                                      "format": "utc-millisec"
                                    },
                                    "email": {
                                      "nullable": true
                                    },
                                    "avatar": {
                                      "nullable": true
                                    },
                                    "address": {
                                      "nullable": true
                                    },
                                    "contact_group_id": {
                                      "nullable": true
                                    },
                                    "is_favorite": {
                                      "type": "integer"
                                    },
                                    "created_by": {
                                      "type": "integer"
                                    },
                                    "created_at": {
                                      "nullable": true
                                    },
                                    "updated_at": {
                                      "nullable": true
                                    },
                                    "deleted_at": {
                                      "nullable": true
                                    },
                                    "full_name": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "media": {
                                  "nullable": true
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  },
                  "header": {
                    "type": "string"
                  },
                  "footer": {
                    "type": "string"
                  },
                  "buttons": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/send/media": {
      "parameters": [],
      "post": {
        "summary": "Send Media Message",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "deprecated": false
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "deprecated": false
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": { "type": "string" },
                "example": "application/json"
              },
              "Server": {
                "schema": { "type": "string" },
                "example": "nginx/1.25.5"
              },
              "Transfer-Encoding": {
                "schema": { "type": "string" },
                "example": "chunked"
              },
              "Connection": {
                "schema": { "type": "string" },
                "example": "keep-alive"
              },
              "Vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                },
                "example": "PHP/8.1.28"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache, private"
              },
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Fri, 28 Jun 2024 13:44:34 GMT"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": "60"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": "59"
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "gzip"
              }
            },
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "messaging_product": {
                              "type": "string"
                            },
                            "contacts": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "input": {
                                    "type": "string",
                                    "format": "utc-millisec"
                                  },
                                  "wa_id": {
                                    "type": "string",
                                    "format": "utc-millisec"
                                  }
                                }
                              }
                            },
                            "messages": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": { "type": "string" }
                                }
                              }
                            },
                            "chat": {
                              "type": "object",
                              "properties": {
                                "id": { "type": "integer" },
                                "uuid": { "type": "string" },
                                "organization_id": { "type": "integer" },
                                "wam_id": { "type": "string" },
                                "contact_id": { "type": "integer" },
                                "user_id": { "nullable": true },
                                "type": { "type": "string" },
                                "metadata": { "type": "string", "format": "style" },
                                "media_id": { "type": "integer" },
                                "status": { "type": "string" },
                                "deleted_by": { "nullable": true },
                                "deleted_at": { "nullable": true },
                                "created_at": { "type": "string", "format": "style" }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["phone", "media_type", "media_url"],
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string",
                    "description": "Recipient phone number in international format"
                  },
                  "media_type": {
                    "type": "string",
                    "description": "Type of media (image, video, document, audio, sticker)"
                  },
                  "media_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Public URL where the media can be fetched"
                  },
                  "caption": {
                    "type": "string",
                    "description": "Optional caption to include with media"
                  },
                  "file_name": {
                    "type": "string",
                    "description": "Optional file name to display for documents"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/send/template": {
      "parameters": [],
      "post": {
        "summary": "Send Template Message",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "deprecated": false
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "deprecated": false
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["phone", "template"],
                "properties": {
                  "phone": {
                    "type": "string",
                    "description": "Recipient phone number in international format including country code"
                  },
                  "template": {
                    "type": "object",
                    "required": ["name", "language"],
                    "description": "Template payload defining which approved WhatsApp template to use",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Unique template name as approved in WhatsApp Business Manager"
                      },
                      "language": {
                        "type": "object",
                        "required": ["code"],
                        "description": "Language configuration for the template",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "BCP-47 language code e.g. en_US"
                          }
                        }
                      },
                      "components": {
                        "type": "array",
                        "description": "Array of template components (header, body, button) with parameter substitutions",
                        "items": {
                          "type": "object",
                          "required": ["type"],
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "Component type (HEADER, BODY, BUTTON)"
                            },
                            "parameters": {
                              "type": "array",
                              "description": "Parameter values that will replace placeholders in the component text",
                              "items": {
                                "type": "object",
                                "required": ["type", "text"],
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "description": "Parameter type (text, currency, date_time, etc.)"
                                  },
                                  "text": {
                                    "type": "string",
                                    "description": "Value to substitute for the matching placeholder"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/json"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "nginx/1.25.5"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "Vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                },
                "example": "PHP/8.1.28"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache, private"
              },
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Mon, 01 Jul 2024 10:27:38 GMT"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": "60"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": "58"
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "gzip"
              }
            },
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "description": "HTTP status code of the response"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "description": "Indicates if the template message request was accepted for processing"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "messaging_product": {
                              "type": "string",
                              "description": "Messaging product (e.g. whatsapp) through which message was sent"
                            },
                            "contacts": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "input": {
                                    "type": "string",
                                    "format": "utc-millisec",
                                    "description": "Original phone number input provided"
                                  },
                                  "wa_id": {
                                    "type": "string",
                                    "format": "utc-millisec",
                                    "description": "WhatsApp ID associated with the contact"
                                  }
                                }
                              }
                            },
                            "messages": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "Unique WhatsApp message identifier"
                                  },
                                  "message_status": {
                                    "type": "string",
                                    "description": "Initial delivery status for the message"
                                  }
                                }
                              }
                            },
                            "chat": {
                              "type": "object",
                              "properties": {
                                "organization_id": {
                                  "type": "integer",
                                  "description": "Internal organization identifier"
                                },
                                "wam_id": {
                                  "type": "string",
                                  "description": "WhatsApp Business Account (WABA) ID"
                                },
                                "contact_id": {
                                  "type": "integer",
                                  "description": "Internal contact record identifier"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Chat type/category"
                                },
                                "metadata": {
                                  "type": "string",
                                  "format": "style",
                                  "description": "Additional chat metadata (serialized)"
                                },
                                "media_id": {
                                  "nullable": true,
                                  "description": "Associated media identifier if applicable"
                                },
                                "status": {
                                  "type": "string",
                                  "description": "Chat status (e.g. open, closed)"
                                },
                                "created_at": {
                                  "type": "string",
                                  "format": "style",
                                  "description": "Creation timestamp"
                                },
                                "uuid": {
                                  "type": "string",
                                  "description": "Chat UUID"
                                },
                                "id": {
                                  "type": "integer",
                                  "description": "Chat numeric identifier"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
  }
        
      }
    },
    "/api/media/upload": {
      "parameters": [],
      "post": {
        "summary": "Upload media file",
        "parameters": [],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/templates": {
      "parameters": [],
      "get": {
        "summary": "Get all Message Templates",
        "parameters": [],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/contacts/notes": {
      "parameters": [],
      "post": {
        "summary": "Add Contact Notes",
        "parameters": [],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Note added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {"type": "integer", "description": "HTTP status code"},
                    "message": {"type": "string", "description": "Result message"},
                    "data": {"type": "object", "description": "Created note resource (if returned)"}
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["contact", "note"],
                "properties": {
                  "contact": {
                    "type": "string",
                    "description": "UUID or identifier of the contact"
                  },
                  "note": {
                    "type": "string",
                    "description": "Free-form note text to attach to the contact"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/contacts/{{uuid}}/notes": {
      "parameters": [
        {
          "name": "uuid",
          "in": "path",
          "required": true,
          "description": "(Required) ",
          "example": "string",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Get Contact Notes",
        "parameters": [],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/conversations/{{uuid}}": {
      "parameters": [
        {
          "name": "uuid",
          "in": "path",
          "required": true,
          "description": "(Required) ",
          "example": "string",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Get conversations for a Contact",
        "parameters": [],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/login": {
      "parameters": [],
      "post": {
        "summary": "Login",
        "parameters": [],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Authenticated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {"type": "integer", "description": "HTTP status code"},
                    "token": {"type": "string", "description": "JWT or session token"},
                    "user": {"type": "object", "description": "Authenticated user profile"}
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "password"],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "User email address"
                  },
                  "password": {
                    "type": "string",
                    "description": "User password"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/check-api-key": {
      "parameters": [],
      "get": {
        "summary": "Check API Key",
        "parameters": [],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/tickets/{{uuid}}/update": {
      "parameters": [
        {
          "name": "uuid",
          "in": "path",
          "required": true,
          "description": "(Required) ",
          "example": "string",
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "summary": "Ticket Assign",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "example": "1",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Ticket updated/assigned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {"type": "integer", "description": "HTTP status code"},
                    "message": {"type": "string", "description": "Result message"},
                    "ticket": {"type": "object", "description": "Updated ticket resource"}
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["user_id"],
                "properties": {
                  "user_id": {
                    "type": "integer",
                    "description": "User ID to assign the ticket to"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/tickets/status-counts": {
      "parameters": [],
      "post": {
        "summary": "Get Ticket Count by Status",
        "parameters": [],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Counts retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {"type": "integer", "description": "HTTP status code"},
                    "counts": {"type": "object", "description": "Map of status name to count"}
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["status"],
                "properties": {
                  "user_id": {
                    "type": "string",
                    "description": "Filter counts for tickets assigned to this user (optional)"
                  },
                  "status": {
                    "type": "string",
                    "description": "Status to filter by or aggregate"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/team": {
      "parameters": [],
      "get": {
        "summary": "Get Users",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  }
}